# Configuración General
PROJECT_NAME="SMR-ZN-PRK"
ENVIRONMENT="development"

# Rutas de Modelos (YOLO, SegFormer, etc.)
MODEL_DIR="./models"
YOLO_MODEL_PATH="./models/yolov8n.pt"

# Parámetros de Cámara/Video
VIDEO_SOURCE="0" # '0' para webcam o path/URL

# Configuración de Streamlit
STREAMLIT_SERVER_PORT=8501

# --- Rutas Locales de Datasets (NO SE SUBEN A GIT) ---
# Modifica estas rutas en tu archivo .env local para apuntar a tus descargas
BDD100K_PATH=/ruta/a/bdd100k
MAPILLARY_PATH=/ruta/a/mapillary
CITYSCAPES_PATH=/ruta/a/cityscapes
PKLOT_PATH=/ruta/a/pklot
CNRPARK_PATH=/ruta/a/cnrpark
CUSTOM_DATASET_PATH=/ruta/a/custom_dataset
