# Configuración General
PROJECT_NAME="SMR-ZN-PRK"
ENVIRONMENT="development"

# Rutas de Modelos (YOLO, SegFormer, etc.)
MODEL_DIR="./models"
YOLO_MODEL_PATH="./models/yolov8n.pt"

# Parámetros de Cámara/Video
VIDEO_SOURCE="0" # '0' para webcam o path/URL

# Configuraciones de Streamlit
STREAMLIT_PORT=8501
